@charset "utf-8";
/**/
/*
* NumberPad 숫자버튼 (주문매출검수) 사용
*/
1
2
3
4
5
6
7
8


.red-back { background:#ffe2e2 !important; }
.yellow-back { background:#fdffc9 !important; }
.green-back { background:green !important; }
.button-style  {
    color:green !important;
    background:#1e90ff;
    width:80px;
    height:25px;
    }
.button1-style  {
    color:green !important;
    background:#99004c;
    width:80px;
    height:25px;
}

.poorbutton-style  {
    color:white !important;
    background:#ef1717;
    width:80px;
    height:25px;
}

.poorbutton-style:HOVER  {
    color:white !important;
    background:#371dc3;
    text-decoration: none;
}

.poorbutton-style:FOCUS  {
    color:white !important;
    background:#371dc3;
    text-decoration: none;
}

.failbutton-style  {
    color:white !important;
    background:#ff7716;
    width:80px;
    height:25px;
}

.failbutton-style:HOVER  {
    color:white !important;
    background:#ff3919;
    text-decoration: none;
}

.failbutton-style:FOCUS  {
    color:white !important;
    background:#ff3919;
    text-decoration: none;
}

.write-button {
	width:40px!important; height:34px!important;
}
.search-button {
    width:40px!important; height:34px!important;
    background-image: url('../../../resource/img/btn_search_icon.png') !important; background-color: #ffffff; border:none;
}


.mbutton{
    background:#263c63;
    color:green;
    border:none;
}

.my-button {
    background-color : #263c63;
}

.my-button button {
    color : white;
}

.my-button .x-btn-mc,
.my-button .x-btn-ml,
.my-button .x-btn-mr,
.my-button .x-btn-tc,
.my-button .x-btn-tl,
.my-button .x-btn-tr,
.my-button .x-btn-bc,
.my-button .x-btn-bl,
.my-button .x-btn-br {
    background-image : none;
}




.search-back { background:green !important; }
.layout-back { background:#6E6E6E !important; }
.panel-back { background:#6E6E6E !important; }
.white-back { background:white !important; }
.dark-back { background:#BDBDBD !important; }

.my-label-style {
    font-weight: bold;
    font-size:13px;
    font-color: #263c63;
    color:#263c63;
    border: 0;
    text-align:center;
}

.tab-focused *, .tab-focused div.x-tab-left, .tab-focused div.x-tab-right {
            background-color: Red !important;
            background-image: none !important;
}

Read more: http://jaspreetchahal.org/extjs-4-changing-grid-row-background-color/#ixzz41389GfYn


.big-button-image {
    width:72px!important; height:44px!important;
    background-image: url(http://www.paypal.com/en_US/i/btn/x-click-butcc-donate.gif) !important;
}

.icon-number-button_0 { background-image: url(../img/icon/number/button2_0.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_1 { background-image: url(../img/icon/number/button2_1.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_2 { background-image: url(../img/icon/number/button2_2.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_3 { background-image: url(../img/icon/number/button2_3.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_4 { background-image: url(../img/icon/number/button2_4.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_5 { background-image: url(../img/icon/number/button2_5.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_6 { background-image: url(../img/icon/number/button2_6.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_7 { background-image: url(../img/icon/number/button2_7.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_8 { background-image: url(../img/icon/number/button2_8.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_9 { background-image: url(../img/icon/number/button2_9.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_enter { background-image: url(../img/icon/number/button2_enter.png) !important; width : 80px !important; height: 51px !important;}
.icon-number-button_clear { background-image: url(../img/icon/number/button2_clear.png) !important; width : 80px !important; height: 51px !important;}



/* search */ /* .icon-number-search { background-image: url(../img/icon/number/search.png) !important; } */
.icon-number-search { background-image: url(../img/icon/number/search2.png) !important; width : 71px !important; height: 41px !important;}

/* 신규작업 */ /* .icon-number-newinsert { background-image: url(../img/icon/number/newinsert.png) !important; } */
.icon-number-newinsert { background-image: url(../img/icon/number/newinsert2.png) !important; width : 71px !important; height: 40px !important;}

/* 송장재발행 */ /* .icon-number-reissue { background-image: url(../img/icon/number/reissue.png) !important; } */
.icon-number-reissue { background-image: url(../img/icon/number/reissue2.png) !important; width : 71px !important; height: 40px !important;}

/* 송장설정 */ /* .icon-number-option { background-image: url(../img/icon/number/option.png) !important; } */
.icon-number-option { background-image: url(../img/icon/number/option2.png) !important; width : 71px !important; height: 40px !important;}

/* 주문숨김 */ /* .icon-number-orderhide { background-image: url(../img/icon/number/orderhide.png) !important; } */
.icon-number-orderhide { background-image: url(../img/icon/number/orderhide2.png) !important; width : 71px !important; height: 40px !important;}


/* top */ /* .icon-number-top { background-image: url(../img/icon/number/top.png) !important; } */
.icon-number-top { background-image: url(../img/icon/number/top2.png) !important; width : 50px !important; height: 40px !important;}

/* bottom */ /* .icon-number-bottom { background-image: url(../img/icon/number/bottom.png) !important; } */
.icon-number-bottom { background-image: url(../img/icon/number/bottom2.png) !important; width : 50px !important; height: 40px !important;}

/* left */ /* .icon-number-left { background-image: url(../img/icon/number/left.png) !important; } */
.icon-number-left { background-image: url(../img/icon/number/left2.png) !important; width : 50px !important; height: 40px !important;}

/* right */ /* .icon-number-right { background-image: url(../img/icon/number/right.png) !important; } */
.icon-number-right { background-image: url(../img/icon/number/right2.png) !important; width : 50px !important; height: 40px !important;}


/* 검수보류 */ /* .icon-number-testhold { background-image: url(../img/icon/number/testhold.png) !important; } */
.icon-number-testhold { background-image: url(../img/icon/number/testhold2.png) !important; width : 80px !important; height: 41px !important;}

/* 보류복원 */ /* .icon-number-restore { background-image: url(../img/icon/number/restore.png) !important; } */
.icon-number-restore { background-image: url(../img/icon/number/restore2.png) !important; width : 80px !important; height: 41px !important;}

/* 전체검수 */ /* .icon-number-alltest { background-image: url(../img/icon/number/alltest.png) !important; } */
.icon-number-alltest { background-image: url(../img/icon/number/alltest2.png) !important; width : 80px !important; height: 41px !important;}

/* 한줄검수 */ /* .icon-number-linetest { background-image: url(../img/icon/number/linetest.png) !important; } */
.icon-number-linetest { background-image: url(../img/icon/number/linetest2.png) !important; width : 80px !important; height: 41px !important;}

/* 한줄취소 */ /* .icon-number-linecancel { background-image: url(../img/icon/number/linecancel.png) !important; } */
.icon-number-linecancel { background-image: url(../img/icon/number/linecancel2.png) !important; width : 80px !important; height: 41px !important;}

/* 전체취소 */ /* .icon-number-allcancel { background-image: url(../img/icon/number/allcancel.png) !important; } */
.icon-number-allcancel { background-image: url(../img/icon/number/allcancel2.png) !important; width : 80px !important; height: 41px !important;}

/* 메모추가 */ /* .icon-number-itemmemo { background-image: url(../img/icon/number/itemmemo.png) !important; } */
.icon-number-itemmemo { background-image: url(../img/icon/number/itemmemo2.png) !important; width : 80px !important; height: 60px !important;}

/* 검수완료 */ /* .icon-number-testcomp { background-image: url(../img/icon/number/testcomp.png) !important; } */
.icon-number-testcomp { background-image: url(../img/icon/number/testcomp2.png) !important; width : 80px !important; height: 41px !important;}

/* 등록 */ /* .icon-number-insert { background-image: url(../img/icon/number/insert.png) !important; } */
.icon-number-insert { background-image: url(../img/icon/number/insert2.png) !important; width : 80px !important; height: 41px !important;}

/* 취소 */ /* .icon-number-cancel { background-image: url(../img/icon/number/cancel.png) !important; } */
.icon-number-cancel { background-image: url(../img/icon/number/cancel2.png) !important; width : 80px !important; height: 41px !important;}



